{% extends 'base.html.twig' %}

{% block title %}Coucou!{% endblock %}

{% block body %}
   <section id="image">

    <div class="image">
      <img src="{{asset ('assets/images/book-43.gif')}}" class="d-block w-100" alt="...">
    </div>
</section>

    <section id='carousel'>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1> Grosse promo d'été sur</h1>
            <h1> les éditions Bragelonne moins 90% </h1>
          </div>
          <div class="carousel-item">
              <h1>Venez découvrir le dernier thriller</h1>
          </div>
          <div class="carousel-item">
              <h1>Bienvenue chez nous</h1>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

   

    <section id="library">
      <div class="books">
        <div class="container">
          <div class="row">
            <h1>Nouveauté</h1>
            <div class=newbook>
              {% for order in orders %}
              
                <div class="card" style="width: 18rem;">
                  <img class="card-img" src='uploads/cover/{{order.library.cover}}' alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-white text-center">{{ order.library.title}}  </h5>
                      {% if is_granted('ROLE_USER') %}
                            {{ dump ( is_granted('ROLE_USER')) }} 
                        
                            {% if  app.user.reader.id == order.reader.id and  order.status == 1 %}
                           {# {{ dump (app.user.reader.id == order.reader.id and  order.status == 1 and  librar.id == order.library.id ) }}   #}
                            <a href="uploads/book/{{ order.library.book}}" class="btn btn-success">Download</a>
                           {% else %}
                            <p class="text-white text-center">Acheter</p>
                              <a href="{{path('order_new',{'id':order.library.id})}}" class="btn btn-secondary">{{ order.library.price}}€</a>
                          {% endif %} 
                         
                            
                          <a href="{{ path ('library_show',{'id':order.library.id})}}" class="btn btn-warning">détail</a>
                         {% else %}
                          <a  href="{{path('app_register')}}"  class="btn btn-danger">Création de compte</a>
                          <a href="{{ path ('library_show',{'id':order.library.id})}}" class="btn btn-warning">détail</a>
                   
                   {% endif %}
                    </div> 
              </div>
              {% endfor %} 
            </div>

          

       <h1>En soldes</h1>
        <div class=sold>
          {% for order in orders %}
              {% if order.library.event == 1 %}
                <div class="card" style="width: 18rem;">
                  <img class="card-img" src='uploads/cover/{{order.library.cover}}' alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-white text-center">{{ order.library.title}}  </h5>
                      {% if is_granted('ROLE_USER') %}
                            {{ dump ( is_granted('ROLE_USER')) }} 
                        
                            {% if   order.status == 1 %}
                           {# {{ dump (app.user.reader.id == order.reader.id and  order.status == 1 and  librar.id == order.library.id ) }}   #}
                            <a href="uploads/book/{{ order.library.book}}" class="btn btn-success">Download</a>
                           {% else %}
                            <p class="text-white text-center">Acheter</p>
                              <a href="{{path('order_new',{'id':order.library.id})}}" class="btn btn-secondary">{{ order.library.price}}€</a>
                          {% endif %} 
                         
                            
                          <a href="{{ path ('library_show',{'id':order.library.id})}}" class="btn btn-warning">détail</a>
                         {% else %}
                          <a  href="{{path('app_register')}}"  class="btn btn-danger">Création de compte</a>
                          <a href="{{ path ('library_show',{'id':order.library.id})}}" class="btn btn-warning">détail</a>
                   
                   {% endif %}
                    </div> 
              </div>
                 {% endif %}
              {% endfor %} 
            </div>
       </div>
    </div>
  </div>

</section>
{% endblock %}
